

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
    margin: 0.5%;    
    padding: 0.2% 0.5%;
}


.center {
    text-align: center;
    align-items:center;
    size-adjust:inherit;
}

.highlight:hover{
    color:rgb(224, 132, 11);
    font-weight:bolder;
    font-size:xx-large;
}
.highlight .tooltip{
    font-weight:bolder;
    font-size:0.0000001px;
    width: 0.00000001px;
    height: 0.00000001px;
    background-color: black;
    color: #fff;
    text-align:right;
    padding: 0px 0;
    border-radius: 0px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
}

.highlight:hover .tooltip{
    font-weight:bolder;
    font-size:medium;
    width: 60px;
    bottom: 100%;
    right: 20%; 
    margin-left: 2px;
    background-color: black;
    color: #fff;
    text-align:right;
    padding: 5px 0;
    border-radius: 8px;
    justify-content:center;
    
    visibility: visible;
    opacity: 1;}


#title{
    font-family: 'Dancing Script', cursive;
    font-size:x-large;
}


#content{
    font-family: 'Permanent Marker', cursive;
    font-size:larger;
}

#header2{
    font-size:120%;
}

#list{
    font-size: larger;
}

#list:hover{
    font-size:x-large;
}

#logo img{
    height: 20%;
    width: 20%;
    
} 

#logo img:hover{
    height:30%;
    width:30%;
}



#classes{
    text-align:center;
}
#id{
    text-align: center;
    align-items:center;
    size-adjust:inherit;
    align-self: flex-end;}
#id:hover{}
#pseudo{}
#pseudo:hover{}
#element{}
#element:hover{}
#over{}
#over:hover{}
#box{}
#box:hover{}
#fonts{} 
#fonts:hover{} 





