<!DOCTYPE html>
<html lang="en">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>    


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <title></title>
</head>
<body id="base-body">
    <dv>
        <button class="dmb" onclick="darkMode()">Dark Mode</button>  
    </dv>
    <nav>
        <a class="highlight" href="{{url_for('views.home')}}">Home</a>
        <a class="highlight" href="{{url_for('views.music')}}">Music</a>
        <a class="highlight" href="{{url_for('views.clothes')}}">Clothes</a>
        <a class="highlight" href="{{url_for('views.about')}}">About me</a>
        <a class="highlight" href="{{url_for('views.contact')}}">Contact</a>
        <a class="highlight" href="{{url_for('views.todos')}}">To Do's</a>

    </nav>
   
    {% block content %}

    {% endblock %}
    
<script>
    document.getElementById("date").innerHTML = Date();
    </script>    
<script src="{{ url_for('static', filename='js/main.js')}}"></script> 

</body>
</html>


